<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">




  <div fxFlex="40">
    <mat-card *ngFor= " let leader of leaders">
      <mat-card-header>
        <mat-card-title>
          <h2>Leader</h2>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{leader.image}}">
            <mat-card-title>{{leader.name}}</mat-card-title>
            <mat-card-subtitle>{{leader.designation}}</mat-card-subtitle>
      <mat-card-content>
        <p style="color:rgb(7, 6, 6);">{{leader.description}}</p>
      </mat-card-content>
  
    </mat-card>

  </div>